In [19]:
import pandas as pd

In [25]:
league_names = pd.DataFrame({
    'country':['spain', 'england','germany','france','italy'],
    'league_name':['primera-division','premier-league','bundesliga','ligue-1','serie-a']
})
cup_names = pd.DataFrame({
    'country':['europe-uefa','europe-uefa','spain','england','germany','france', 'italy'],
    'league_name':['uefa-champions-league','uefa-europa-league','fa-cup','fa-cup','fa-cup','fa-cup','fa-cup']
})
leagues_cups = pd.concat([league_names,cup_names])
leagues_cups

       country            league_name
0        spain       primera-division
1      england         premier-league
2      germany             bundesliga
3       france                ligue-1
4        italy                serie-a
0  europe-uefa  uefa-champions-league
1  europe-uefa     uefa-europa-league
2        spain                 fa-cup
3      england                 fa-cup
4      germany                 fa-cup
5       france                 fa-cup
6        italy                 fa-cup

In [37]:
i = 0
pd.read_csv('Combined Data/' + leagues_cups.iloc[i,0] + '_' + leagues_cups.iloc[i,1] + '_all_games.csv')

,Unnamed: 0,Round,Date,Time,Home_Team,Home_Score,Away_Score,Away_Team,Home_Score_AET,Away_Score_AET,Home_Penalties,Away_Penalties,Home_Points,Away_Points,season
0,0,ROUND 1,31/08/2002,22:30,RACING SANTANDER,0,1,VALLADOLID,NaN,NaN,NaN,NaN,0.0,3.0,2002
1,1,ROUND 1,01/09/2002,21:00,RAYO VALLECANO,2,2,ALAVES,NaN,NaN,NaN,NaN,1.0,1.0,2002
2,2,ROUND 1,01/09/2002,21:00,REAL SOCIEDAD,4,2,ATHLETIC BILBAO,NaN,NaN,NaN,NaN,3.0,0.0,2002
3,3,ROUND 1,01/09/2002,22:00,MALLORCA,0,2,VALENCIA,NaN,NaN,NaN,NaN,0.0,3.0,2002
4,4,ROUND 1,01/09/2002,22:30,VILLARREAL,2,2,OSASUNA,NaN,NaN,NaN,NaN,1.0,1.0,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7675,75,ROUND 8,09/10/2022,15:00,VALLADOLID,0,0,BETIS,NaN,NaN,NaN,NaN,1.0,1.0,2022
7676,76,ROUND 8,09/10/2022,17:15,CADIZ,2,2,ESPANYOL,NaN,NaN,NaN,NaN,1.0,1.0,2022
7677,77,ROUND 8,09/10/2022,19:30,REAL SOCIEDAD,1,0,VILLARREAL,NaN,NaN,NaN,NaN,3.0,0.0,2022
7678,78,ROUND 8,09/10/2022,22:00,BARCELONA,1,0,CELTA VIGO,NaN,NaN,NaN,NaN,3.0,0.0,2022
7679,79,ROUND 8,10/10/2022,22:30,ELCHE,1,1,MALLORCA,NaN,NaN,NaN,NaN,1.0,1.0,2022

In [52]:
#combine upcoming fixtures with completed games
#then duplicate data and rename columns
#effectively changing an observation from a single game to each teams involvement in a game (1 row per game vs 2)

for i in range(len(leagues_cups)):
    label1 = 'Combined Data/' + leagues_cups.iloc[i,0] + '_' + leagues_cups.iloc[i,1] + '_all_games.csv'
    label2 = 'Upcoming Fixtures/' + leagues_cups.iloc[i,0] + '_' + leagues_cups.iloc[i,1] + '_upcoming_fixtures.csv'
    
    completed = pd.read_csv(label1)
    upcoming = pd.read_csv(label2)
    
    data = pd.concat([completed,upcoming])
    
    home = data.copy()
    away = data.copy()
    
    home = data.rename(columns = {
        'Home_Team':'Team',
        'Away_Team':'Opponent',
        'Home_Score':'Team_Score',
        'Away_Score':'Opponent_Score',
        'Home_Points':'Team_Points',
        'Away_Points':'Opponent_Points'
    })
    home['Location'] = 'Home'
    
    away = away.rename(columns = {
        'Away_Team':'Team',
        'Home_Team':'Opponent',
        'Away_Score':'Team_Score',
        'Home_Score':'Opponent_Score',
        'Away_Points':'Team_Points',
        'Home_Points':'Opponent_Points'
    })
    away['Location'] = 'Away'
    
    label3 = 'Tab Data/' + leagues_cups.iloc[i,0] + '_' + leagues_cups.iloc[i,1] + '_duplicated_games.csv'
    pd.concat([home,away]).to_csv(label3,index=False)

In [58]:
i=1
pd.read_csv('Tab Data/' + leagues_cups.iloc[i,0] + '_' + leagues_cups.iloc[i,1] + '_duplicated_games.csv')

,Round,Date,Time,Team,Team_Score,Opponent_Score,Opponent,Home_Score_AET,Away_Score_AET,Home_Penalties,Away_Penalties,Team_Points,Opponent_Points,season,Location
0,ROUND 1,17/08/2002,18:00,MANCHESTER UTD,1.0,0.0,WEST BROM,NaN,NaN,NaN,NaN,3.0,0.0,2002,Home
1,ROUND 1,17/08/2002,18:00,LEEDS,3.0,0.0,MANCHESTER CITY,NaN,NaN,NaN,NaN,3.0,0.0,2002,Home
2,ROUND 1,17/08/2002,18:00,SOUTHAMPTON,0.0,0.0,MIDDLESBROUGH,NaN,NaN,NaN,NaN,1.0,1.0,2002,Home
3,ROUND 1,17/08/2002,18:00,FULHAM,4.0,1.0,BOLTON,NaN,NaN,NaN,NaN,3.0,0.0,2002,Home
4,ROUND 1,17/08/2002,18:00,EVERTON,2.0,2.0,TOTTENHAM,NaN,NaN,NaN,NaN,1.0,1.0,2002,Home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15955,ROUND 38,28/05/2023,18:00,NEWCASTLE,NaN,NaN,CHELSEA,NaN,NaN,NaN,NaN,NaN,NaN,2022,Away
15956,ROUND 38,28/05/2023,18:00,MANCHESTER CITY,NaN,NaN,BRENTFORD,NaN,NaN,NaN,NaN,NaN,NaN,2022,Away
15957,ROUND 38,28/05/2023,18:00,BRIGHTON,NaN,NaN,ASTON VILLA,NaN,NaN,NaN,NaN,NaN,NaN,2022,Away
15958,ROUND 38,28/05/2023,18:00,TOTTENHAM,NaN,NaN,LEEDS,NaN,NaN,NaN,NaN,NaN,NaN,2022,Away
15959,ROUND 38,28/05/2023,18:00,BOURNEMOUTH,NaN,NaN,EVERTON,NaN,NaN,NaN,NaN,NaN,NaN,2022,Away

In [69]:
#combine all data onto single file, with league indicator
data = pd.DataFrame(columns=['Round', 'Date', 'Time', 'Team', 'Team_Score', 'Opponent_Score', 'Opponent', 
                    'Home_Score_AET', 'Away_Score_AET', 'Home_Penalties','Away_Penalties', 'Team_Points',
                    'Opponent_Points', 'season', 'Location'])

for i in range(len(leagues_cups)):        
    label = 'Tab Data/' + leagues_cups.iloc[i,0] + '_' + leagues_cups.iloc[i,1] + '_duplicated_games.csv'
    df_to_add = pd.read_csv(label)
    df_to_add['Country'] = leagues_cups.iloc[i,0]
    df_to_add['Competition'] = leagues_cups.iloc[i,1]
    
    data = pd.concat([data,df_to_add])

In [72]:
data.to_csv('Full_Dataset.csv',index=False)

In [71]:
data

,Round,Date,Time,Team,Team_Score,Opponent_Score,Opponent,Home_Score_AET,Away_Score_AET,Home_Penalties,Away_Penalties,Team_Points,Opponent_Points,season,Location,Country,Competition
0,ROUND 1,31/08/2002,22:30,RACING SANTANDER,0.0,1.0,VALLADOLID,NaN,NaN,NaN,NaN,0.0,3.0,2002,Home,spain,primera-division
1,ROUND 1,01/09/2002,21:00,RAYO VALLECANO,2.0,2.0,ALAVES,NaN,NaN,NaN,NaN,1.0,1.0,2002,Home,spain,primera-division
2,ROUND 1,01/09/2002,21:00,REAL SOCIEDAD,4.0,2.0,ATHLETIC BILBAO,NaN,NaN,NaN,NaN,3.0,0.0,2002,Home,spain,primera-division
3,ROUND 1,01/09/2002,22:00,MALLORCA,0.0,2.0,VALENCIA,NaN,NaN,NaN,NaN,0.0,3.0,2002,Home,spain,primera-division
4,ROUND 1,01/09/2002,22:30,VILLARREAL,2.0,2.0,OSASUNA,NaN,NaN,NaN,NaN,1.0,1.0,2002,Home,spain,primera-division
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2493,SEMI FINALS,05/04/2023,19:00,WINNER QF 4,NaN,NaN,WINNER QF 3,NaN,NaN,NaN,NaN,NaN,NaN,2022,Away,italy,fa-cup
2494,SEMI FINALS,05/04/2023,19:00,WINNER QF 2,NaN,NaN,WINNER QF 1,NaN,NaN,NaN,NaN,NaN,NaN,2022,Away,italy,fa-cup
2495,SEMI FINALS,26/04/2023,19:00,WINNER QF 3,NaN,NaN,WINNER QF 4,NaN,NaN,NaN,NaN,NaN,NaN,2022,Away,italy,fa-cup
2496,SEMI FINALS,26/04/2023,19:00,WINNER QF 1,NaN,NaN,WINNER QF 2,NaN,NaN,NaN,NaN,NaN,NaN,2022,Away,italy,fa-cup
2497,FINAL,24/05/2023,19:00,WINNER SF 2,NaN,NaN,WINNER SF 1,NaN,NaN,NaN,NaN,NaN,NaN,2022,Away,italy,fa-cup